<div class="ab-finder">

<h1 class="header">Teacher Finder</h1>

<h3 class="sub-header">What is Teacher Finder?</h3>
<br>
<p class="ab-paragraph">For learners
  <br>
  <br>
  Teacher Finder allows you to find a teacher in seconds.
  <br>
  We have over 100,000 teachers signed up to the platform waiting to connect with you.
  <br>
  Get ready to get stuck in and try something new. From piano to guitar, drums to singing, we promise that you'll find the right teacher for you.
  <br>
  Once you've found the one you want and you're happy, leave a review so others can understand justhow good these teachers are.
  <br>
  <br>
  For teachers
  <br>
  <br>
  Teacher Finder allows you to connect with learners for free. We won't take any of your profit. Unlike other establishments, we will not take a penny from you. You keep everything you make - just makesure to pay your taxes!
  <br>
  It's as simple as that. Hit sign up to make a profile and start making money right away!
</div>

<%= render 'layouts/instrument_grid' %>
