.finder {
  background-image: url("/assets/blue-music-background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

.header{
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
  padding-bottom: 15px;
}

.search-container {
  line-height: 2em;
  width: 960px;
  height: 36px;
  vertical-align: text-bottom;
  margin-top: 80px;
  display: inline
}

#rectangle-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width:45px;
  height:47px;
  position: absolute;
  left: 178px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  background-color: white;
}

#rectangle-right {
  width:45px;
  height:47px;
  position: absolute;
  left: 588px;
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  border: 100px;
}

span{
  vertical-align: bottom;
  line-height: normal;
}

.search-elements {
  padding-left: 20px;
  height: 10em;
}

.search-left {
  border: 0px;
  left:220px;
  width: 366px;
  height: 45px;
  margin: 0px;
  outline: 0px;
  position: absolute;
}

.search-right {
  border: 0px;
  left:633px;
  width: 365px;
  height: 45px;
  margin:0px;
  outline: 0px;
  position: absolute;
}

.button {
  border: 0px;
  background-color: #AC1B26;
  position: absolute;
  left:1000px;
  font: inherit;
  height: 47px;
  width: 90.77px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
}

.button:hover{
  background-color: #000000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.button.value:hover{
  color: #ffffff;
}

.button:hover {
  color: #ffffff;
}

.icon-list{
  position: absolute;
  top: 385px;
  left: 420px;
  padding-top: 1px;
}

.homepage-category{
  padding: 0 12px;
  display: inline;
  margin-top: 50px;
}

.homepage-category a{
  color: white;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.5px;
}

.homepage-category a:hover{
  text-decoration: underline;
}

.icon{
  width: 18px;
  height: 18px;
}

::placeholder{
  font-size: 15px;
}

.search-left::placeholder{
  border-width: 2px;
  line-height: 30px;
  border-right-style: solid;
  border-color: #c3bfbf
}

.line {
  margin-top: 50px;
  margin-bottom: 50px;
}
