.finder {
  background-image: url("/assets/blue-music-background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

.header {
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.search-container {
  display: table;
  margin: 0px auto;
  margin-bottom: 0px;
}

.search-elements {
  height: 47px;
  margin: 0px;
}

.search-left {
  border: 0px;
  width: 340px;
  height: 45px;
  outline: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
}

.search-right {
  border: 0px;
  left:633px;
  width: 325px;
  height: 45px;
  outline: 0px;
  float: left;
}

.button {
  border: 0px;
  background-color: #AC1B26;
  font: inherit;
  height: 47px;
  width: 90px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  float: left;
}

.button:hover {
  background-color: #000000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #ffffff;
}

.button.value:hover {
  color: #ffffff;
}

.icon-list {
  display: table;
  margin: 0px auto;
}

.homepage-category {
  display: inline-block;
  padding: 0 12px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.homepage-category a {
  color: white;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.5px;
}

.homepage-category a:hover {
  text-decoration: underline;
}

.icon {
  width: 18px;
  height: 18px;
}

::placeholder {
  font-size: 15px;
}

.search-left::placeholder {
  border-width: 2px;
  line-height: 30px;
  border-right-style: solid;
  border-color: #c3bfbf
}

.line {
  margin-top: 50px;
  margin-bottom: 50px;
}

input#search.search-left {
  font-size: 15px;
  padding-left: 10px;
}

input#location.search-right {
  font-size: 15px;
  padding-left: 15px;
}
