<div class="footer-container">
  <div class="footer-links">
    <ul class=column>
      <li>
        <h3 class="footer-header">Follow Us</h3>
      </li>
      <li>
        <p>Facebook</p>
      </li>
      <li>
        <p>Twitter</p>
      </li>
      <li>
        <p>LinkedIn</p>
      </li>
      <li>
        <p>Medium</p>
      </li>
    </ul>
    <ul class=column>
      <li>
        <h3 class="footer-header">Contact Us</h3>
      </li>
      <li>
        <p>gimson.alex@gmail.com</p>
      </li>
      <li>
        <p>131 Avenue Mews</p>
      </li>
      <li>
        <p>London</p>
      </li>
      <li>
        <p>N10 3NN</p>
      </li>
      <li>
        <p>+44 7830 324 376</p>
      </li>
    </ul>
    <ul class=column>
      <li>
        <h3 class="footer-header">About Us</h3>
      </li>
      <li>
        <p>FAQ</p>
      </li>
      <li>
        <p>We're hiring!</p>
      </li>
      <li>
        <p>Terms and conditions</p>
      </li>
      <li>
        <p>Copyright</p>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <img class="footer-logo" src="/assets/TF-logo.png" style="width:50px; height:23px;">
    <p id=footer-cr-text>© Teacher Finder 2017</p>
  </div>
</div>
