<div class="text-center">
  <h3>Top categories</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">Piano<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=piano&location=&commit=Search"><img src="/assets/piano-large.png" class="img-responsive" style="width: 50%"></div>
    <div class="col-lg-4">Guitar<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=guitar&location=&commit=Search"><img src="/assets/guitar-large.png" class="img-responsive" style="width: 50%"></div>
    <div class="col-lg-4">Drums<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=drums&location=&commit=Search"><img src="/assets/drum-large.png" class="img-responsive" style="width: 50%"></div>
  </div>

  <div class="row">
    <div class="col-lg-4">Singing<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=singing&location=&commit=Search"><img src="/assets/sing-large.png" class="img-responsive" style="width: 50%"></div>
    <div class="col-lg-4">Trumpet<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=trumpet&location=&commit=Search"><img src="/assets/trumpet-large.png" class="img-responsive" style="width: 50%"></div>
    <div class="col-lg-4">More instruments<img src="/assets/note-large" class="img-responsive" style="width: 50%"></div>
  </div>
</div>
