<h3 id="category-header">Categories</h3>
<div id="chart">
  <table>
  <tr>
    <td>
      <div class="tile">
        <div class="tile-text"><a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=piano&location=&commit=Search">Piano<img class="tile-icon" src="assets/piano-large"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text"><a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=guitar&location=&commit=Search"><img class="tile-icon" src="assets/guitar-large"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text"><a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=drums&location=&commit=Search">Drums<img class="tile-icon" src="assets/drum-large"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tile">
        <div class="tile-text"><a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=singing&location=&commit=Search">Singing<img class="tile-icon" src="assets/sing-large"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">Trumpet<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=trumpet&location=&commit=Search"><img class="tile-icon" src="assets/trumpet-large"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">More instruments<img class="small" src="/assets/note-large"></div>
      </div>
    </td>
  </tr>
  </table>
</div>
