<h3 id="category-header">Categories</h3>
<div id="chart">
  <table>
  <tr>
    <td>
      <div class="tile">
        <div class="tile-text">Piano<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=piano&location=&commit=Search"><img class="tile-icon" src="/assets/piano-large.png"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">Guitar<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=guitar&location=&commit=Search"><img class="tile-icon" src="/assets/guitar-large.png"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">Drums<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=drums&location=&commit=Search"><img class="tile-icon" src="/assets/drum-large.png"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tile">
        <div class="tile-text">Singing<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=singing&location=&commit=Search"><img class="tile-icon" src="/assets/sing-large.png"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">Trumpet<a href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=trumpet&location=&commit=Search"><img class="tile-icon" src="/assets/trumpet-large.png"></div>
      </div>
    </td>
    <td>
      <div class="tile">
        <div class="tile-text">More instruments<img class="small" src="/assets/note-large"></div>
      </div>
    </td>
  </tr>
  </table>
</div>
